<div class="container">
    <div class="input-date">
        <form class="find-schedule" [formGroup]="findScheduleForm">
            <div class="form-group">
                <label for="startTime">Start Date</label>
                <div class="input-group">
                    <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                        formControlName="startDate" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="model"
                        (blur)="getAllScheduleByStartDate()" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                        type="button"></button>
                </div>
            </div>
            <div class="form-group">
                <label for="departure">Departure</label>
                <div class="input-group">
                    <input id="departure" class="form-control" name="departure" formControlName="departure">
                </div>
            </div>
            <div class="form-group">
                <label for="destination">Destination</label>
                <div class="input-group">
                    <input id="destination" class="form-control" name="destination" formControlName="destination">
                </div>
            </div>
        </form>

    </div>

    <div class="book-ticket" *ngFor="let schedule of listSchedule">
        <div class="schedule-list">
            <div class="bus-infor">
                <h3 class="bus-name">Start Time : {{schedule.startTime}}</h3>
                <span class="departure">Seat Left : {{schedule.seatLeft}}</span>
                <span class="destination">Departure: {{schedule.departure}}</span>
                <span class="destination">Destination: {{schedule.destinations}}</span>

            </div>
            <button type="button" class="btn btn-success" (click)="isCollapsed = ! isCollapsed"
                [attr.aria-expanded]="!isCollapsed">
                Select
            </button>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <form [formGroup]="myForm" (submit)="test()">
                <div class="card" *ngFor="let seat of schedule.seats; let i = index">
                    <div class="input-group-text">
                        <label for="{{seat.seatId}}">{{seat.seatId}}</label>
                        <input type="checkbox" [value]="seat.seatId" id="{{seat.seatId}}" (change)="onChange($event)">
                    </div>
                </div>
                <button type="submit">Test</button>
            </form>
        </div>
    </div>
</div>