<div class="container">
    <button class="btn btn-md btn-outline-success new-btn" (click)="openForm(newSchedule)">
        <span class="material-symbols-outlined">
            add
        </span>New Schedule</button>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Total Seat</th>
                <th>Seat Left</th>
                <th>Start Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of schedule">
                <th scope="row">{{s.scheduleId}}</th>
                <td>{{s.startTime}}</td>
                <td>{{s.endTime}}</td>
                <td>{{s.totalSeat}}</td>
                <td>{{s.seatLeft}}</td>
                <td>{{s.startDate}}</td>
                <td>
                    <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i>Edit</button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i>Danger</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #newSchedule let-modal>
    <form (ngSubmit)="addNewSchedule()" [formGroup]="createSchedule">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New Schedule</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="startTime"
                        ngbDatepicker #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                        type="button"></button>
                </div>
            </div>
            <div class="form-group">
                <label for="endTime">End Time</label>
                <div class="input-group">
                    <input type="text" id="endTime" class="form-control" name="endTime" formControlName="endTime">
                </div>
            </div>
            <div class="form-group">
                <label for="departure">Total Seat</label>
                <div class="input-group">
                    <input id="totalSeat" class="form-control" name="totalSeat" formControlName="totalSeat">
                </div>
            </div>
            <div class="form-group">
                <label for="seatLeft">Seat Left</label>
                <div class="input-group">
                    <input id="seatLeft" class="form-control" name="seatLeft" formControlName="seatLeft">
                </div>
            </div>
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <div class="input-group">
                    <input id="startDate" class="form-control" name="seatLeft" formControlName="startDate">
                </div>
            </div>
            <div class="form-group">

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" data-dismiss="modal" class="btn btn-info">Submit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
        </div>
        <!-- <span class="text-danger">{{msg}}</span> -->
    </form>
</ng-template>